
<!--NAVBAR-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand nav_title" (click)=listComponent.getAllPost() href="#">Blogboyz</a>
  <button *ngIf="userLoggedInFlag" class="btn btn-secondary"(click)= "changeDisplayPostInput()" href="#">Make Post</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0"  type="submit" (click)= changeDisplayLogin()>{{loginBtn}}</button >
    <button class="btn btn-outline-success my-2 my-sm-0 signUpBtn"  type="submit" (click)=changeDisplayCreateUserModal() >Signup</button >
  </div>
</nav>

<app-post-form [showNewPost] = "showPostForm" [loggedInUserName]="loginUser.name" (updateList)="listComponent.getAllPost()" ></app-post-form>
<app-post-list [userLoggedin] ="userLoggedInFlag" #listComponent></app-post-list>

<!--CREATE USER MODAL-->

<div id="CreateUserModal" class="modal" *ngIf="showCreateUserModal">
  <div class="modal-content">
    <h2>Sign Up</h2>
    <input class="form-control mr-sm-2 loginField" type="search"  placeholder="Username" [(ngModel)]="user.name">
    <input class="form-control mr-sm-2 loginField" type="search" placeholder="Password" [(ngModel)]="user.password">
    <button class="btn btn-outline-success my-2 my-sm-0" id="submitCreateBtn" type="submit" (click)= createUser() (keyup.enter)="createUser()">Submit</button>
    <button class="btn btn-outline-danger my-2 my-sm-0" id="exitCreateBtn" type="submit" (click)=changeDisplayCreateUserModal() (keyup.escape)="changeDisplayCreateUserModal()">Exit</button>
  </div>

</div>

<!--Login Modal-->

<div id="SigninModal" class="modal" *ngIf="showSignInModal">
  <div class="modal-content">
    <h2>Login</h2>
    <input class="form-control mr-sm-2 loginField" type="search"  placeholder="Username" [(ngModel)]="loginUser.name">
    <input class="form-control mr-sm-2 loginField" type="search" placeholder="Password" [(ngModel)]="loginUser.password">
    <button class="btn btn-outline-success my-2 my-sm-0" id="submitLoginBtn" type="submit" (click)= authUser(loginUser.name) (keyup.enter)="authUser(loginUser.name)">Submit</button>
    <button class="btn btn-outline-danger my-2 my-sm-0" id="exitLoginBtn" type="submit" (click)=changeDisplayLogin() (keyup.escape)="changeDisplayLogin()">Exit</button>
  </div>

</div>
