<div *ngIf="showNewPost" class="postWrapper">
  <h1 >NEW POST</h1>
  <div class="form-group">
    <label for="titleInput">Title</label>
      <input id="titleInput" type="text" class="form-control" [(ngModel)]="post.title"  >
  </div>

  <div class="form-group">
    <label for="Textarea1">Post</label>
    <textarea  class="form-control" id="Textarea1" rows="3"  type="text" [(ngModel)]="post.content"></textarea>
  </div>

<div class="form-group">
  <label for="Textarea1">Attach Image URL</label>
  <textarea  class="form-control" id="Textarea2" rows="1"  type="text" [(ngModel)]="post.image"></textarea>
</div>

<div class="form-group">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [(ngModel)]="post.tag"   value="SPORTS" >
    <label class="form-check-label" for="inlineRadio1">Sports</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [(ngModel)]="post.tag" value="FINANCE">
    <label class="form-check-label" for="inlineRadio2">Finance</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" [(ngModel)]="post.tag"  value="TECHONLOGY" >
    <label class="form-check-label" for="inlineRadio3">Technology</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"  [(ngModel)]="post.tag" value="BUSINESS" >
    <label class="form-check-label" for="inlineRadio4">Business</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" [(ngModel)]="post.tag" value="OTHER" [defaultChecked]="true" >
    <label class="form-check-label" for="inlineRadio5">Other</label>
  </div>
</div>
  <div class="input-group-append">
    <button (click)="onSubmit()" type="button" class="btn class=btn btn-info">submit</button>
  </div>
</div>

